body,
html {
  height: 100%;
}

/* ------------- header ------------- */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  margin-top: 0;
  line-height: 70px;
  background-color: cornflowerblue;
}

h1 {
  font-size: 30px;
  padding-left: 50px;
}

/* ------------- main ------------- */

.parallax-bg,
.scrollbox {
  color: #fff;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.parallax-bg {
  background: url("../img/IMG_7916.JPG") fixed center/cover no-repeat;
}
.scrollbox {
  background-color: #000;
}
